<ng-container *ngIf="user">
  <div class="blog-title" >
    <ng-container *ngIf="!editMode">
      <img *ngIf="user.blogTitleBackground" class="blog-title__background" src="data:image/png;base64,{{user.blogTitleBackground}}">
      <h1>{{user.blogTitle ? user.blogTitle : user.userId + " のブログ"}}</h1>
    </ng-container>
    <ng-container *ngIf="editMode">
      <div class="background-editor">
        <div
          class="background-editor__overlay"
          mat-ripple
          matRippleColor="rgba(186, 191, 206, 0.37)"
          (click)="backgroundFileInput.click()">
          <i class="background-editor__overlay__image fa fa-fw fa-image"></i>
          <div class="background-editor__overlay__discription">タイトル背景を変更</div>
        </div>
        <input
          hidden
          #backgroundFileInput
          type="file"
          accept="image/*"
          id="icon"
          name="icon"
          (change)="onChangeBackgroundFile($event)"
          >
        <img *ngIf="blogTitleBackground.value" class="background-editor__icon" src="data:image/png;base64,{{blogTitleBackground.value}}">
      </div>
    </ng-container>
  </div>

  <nav class="sub-nav-bar" [class.sub-nav-bar_edit]="editMode" mat-tab-nav-bar class="sub-nav-bar ink-bar-pink">
    <a mat-tab-link
      class="sub-nav-bar__link"
      [routerLink]="['/', user.userId, 'articles']"
      routerLinkActive #rla1="routerLinkActive"
      [active]="rla1.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >記事</a>
    <a mat-tab-link
      class="sub-nav-bar__link"
      [routerLink]="['/', user.userId, 'comments']"
      routerLinkActive #rla2="routerLinkActive"
      [active]="rla2.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >コメント</a>
    <a mat-tab-link
      class="sub-nav-bar__link"
      [routerLink]="['/', user.userId, 'votes']"
      routerLinkActive #rla3="routerLinkActive"
      [active]="rla3.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >いいねした記事</a>
  </nav>

  <div class="content" [class.content_edit]="editMode">
    <div class="content_profile">

    <div class="profile" [class.profile_edit]="editMode">
      <ng-container *ngIf="editMode">
        <form
          *ngIf="form"
          (ngSubmit)="onSubmit()"
          [formGroup]="form"
          >

          <div class="icon-editor">
            <div
              class="icon-editor__overlay"
              mat-ripple
              matRippleColor="rgba(186, 191, 206, 0.37)"
              (click)="iconFileInput.click()">
              <i class="icon-editor__overlay__image fa fa-fw fa-image"></i>
              <div class="icon-editor__overlay__discription">プロフィール画像を変更</div>
            </div>
            <input
              hidden
              #iconFileInput
              type="file"
              accept="image/*"
              id="icon"
              name="icon"
              (change)="onChangeIconFile($event)"
              >
            <img class="icon-editor__icon" src="data:image/png;base64,{{icon.value}}">
          </div>

          <div *ngIf="isMine" class="profile__operation">
            <button
              mat-button
              (click)="cancelEdit()"
              ><i class="fa fa-fw fa-times"></i> キャンセル</button>
            <button
              mat-button
              color="primary"
              [disabled]="form.invalid"
              ><i class="fa fa-fw fa-pencil"></i> 更新する</button>
          </div>

          <div class="data">
            <mat-input-container class="data__input">
              <input
                matInput
                type="text"
                id="userId"
                name="userId"
                formControlName="userId"
                placeholder="ユーザID"
                >
            </mat-input-container>
          </div>

          <div class="data">
            <mat-input-container class="data__input">
              <input
                matInput
                type="text"
                id="lastName"
                name="lastName"
                formControlName="lastName"
                placeholder="氏"
                >
                <mat-error *ngIf="messageService.hasError(lastName, 'maxlength')">
                  {{ messageService.get('maxlength',['氏' , lastName.getError('maxlength').requiredLength]) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasErrorWithoutDirty(lastName, 'remote')">
                  <ng-container *ngFor="let msg of lastName.getError('remote')">
                    {{msg}}<br>
                  </ng-container>
                </mat-error>
            </mat-input-container>
          </div>
          <div class="data">
            <mat-input-container class="data__input">
              <input
                matInput
                type="text"
                id="firstName"
                name="firstName"
                formControlName="firstName"
                placeholder="名"
                >
                <mat-error *ngIf="messageService.hasError(firstName, 'maxlength')">
                  {{ messageService.get('maxlength',['名' , firstName.getError('maxlength').requiredLength ]) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasErrorWithoutDirty(firstName, 'remote')">
                  <ng-container *ngFor="let msg of firstName.getError('remote')">
                    {{msg}}<br>
                  </ng-container>
                </mat-error>
            </mat-input-container>
          </div>

          <div class="data">
            <mat-input-container class="data__input">
              <input
                matInput
                type="text"
                id="email"
                name="email"
                formControlName="email"
                placeholder="メール"
                >
                <mat-error *ngIf="messageService.hasError(email, 'maxlength')">
                  {{ messageService.get('maxlength',['メール' , email.getError('maxlength').requiredLength ]) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasError(email, 'pattern')">
                  {{ messageService.get('pattern_email',['メール']) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasErrorWithoutDirty(email, 'remote')">
                  <ng-container *ngFor="let msg of email.getError('remote')">
                    {{msg}}<br>
                  </ng-container>
                </mat-error>
            </mat-input-container>
          </div>

          <div class="data">
            <mat-input-container class="data__input">
              <input
                matInput
                type="text"
                id="blogTitle"
                name="blogTitle"
                formControlName="blogTitle"
                placeholder="ブログタイトル"
                >
                <mat-error *ngIf="messageService.hasError(blogTitle, 'maxlength')">
                  {{ messageService.get('maxlength',['ブログタイトル', blogTitle.getError('maxlength').requiredLength ]) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasErrorWithoutDirty(blogTitle, 'remote')">
                  <ng-container *ngFor="let msg of blogTitle.getError('remote')">
                    {{msg}}<br>
                  </ng-container>
                </mat-error>
            </mat-input-container>
          </div>

          <div class="data">
            <mat-input-container class="data__input">
              <textarea
                matInput
                type="text"
                id="userDescription"
                class="data__input__textarea"
                name="userDescription"
                formControlName="userDescription"
                placeholder="自己紹介"
                ></textarea>
                <mat-error *ngIf="messageService.hasError(userDescription, 'maxlength')">
                  {{ messageService.get('maxlength',['自己紹介' , userDescription.getError('maxlength').requiredLength ]) }}
                </mat-error>
                <mat-error *ngIf="messageService.hasErrorWithoutDirty(userDescription, 'remote')">
                  <ng-container *ngFor="let msg of userDescription.getError('remote')">
                    {{msg}}<br>
                  </ng-container>
                </mat-error>
            </mat-input-container>
          </div>

        </form>
      </ng-container>

      <ng-container *ngIf="!editMode">
        <img class="profile__icon" src="data:image/png;base64,{{user.icon}}">

        <div *ngIf="isMine" class="profile__operation">
          <button
            mat-button
            color="primary"
            (click)="editUser()"
            ><i class="fa fa-fw fa-pencil"></i> 編集する</button>
        </div>

        <div class="data">
          <div class="data__output">
            <div class="data__output__label">ユーザID</div>
            <div  class="data__output__value">{{user.userId}}</div>
          </div>
        </div>

        <div class="data">
          <div class="data__output">
            <div class="data__output__label">氏</div>
            <div  class="data__output__value">{{user.lastName}}</div>
          </div>
        </div>
        <div class="data">
          <div class="data__output">
            <div class="data__output__label">名</div>
            <div  class="data__output__value">{{user.firstName}}</div>
          </div>
        </div>

        <div class="data">
          <div class="data__output">
            <div class="data__output__label">Mail</div>
            <div  class="data__output__value">{{user.email}}</div>
          </div>
        </div>

        <div class="data">
          <div class="data__output">
            <div class="data__output__label">自己紹介</div>
            <pre class="data__output__value_textarea">{{user.userDescription}}</pre>
          </div>
        </div>

      </ng-container>
    </div>

    </div>
    <div class="content__main" [class.content__main_edit]="editMode">
      <router-outlet></router-outlet>
    </div>
  </div>

</ng-container>