<form
  (ngSubmit)="onSubmit(form)"
  [formGroup]="form"
  class="comment-form"
  >
  <div class="comment-form__main">
    <img class="comment-form__author-icon"
      src="data:image/png;base64,{{ auth.loginUser.icon }}">
    <mat-input-container class="comment-form__textarea-wrapper">
      <textarea
        *ngIf="isAuthfocuse"
        matInput
        class="comment-form__textarea"
        formControlName="commentText"
        placeholder="コメントを{{action}}する"
        appAutofocus
        ></textarea>
      <textarea
        *ngIf="!isAuthfocuse"
        matInput
        class="comment-form__textarea"
        formControlName="commentText"
        placeholder="コメントを{{action}}する"
        ></textarea>
      <mat-error *ngIf="hasError('required', commentText)">
        {{ messageService.get('required',['コメント']) }}
      </mat-error>
    </mat-input-container>
  </div>
  <div class="comment-form__operation">
    <div class="comment-form__operation__spacer"></div>
    <button
      *ngIf="hasCancelBtn"
      mat-raised-button
      type="button"
      (click)='onCancel();'><i class="fa fa-fw fa-times"></i>  キャンセル</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
      ><i class="fa fa-fw fa-commenting"></i>  {{action}}</button>
  </div>
</form>