<form 
  (ngSubmit)="onSubmit(form)" 
  [formGroup]="form"
  class="comment-form"
  >
  <div class="comment-form__metadata">
    <img class="comment-form__metadata__author-icon" 
      src="data:image/png;base64,{{ auth.loginUser.icon }}">
    <div class="comment-form__metadata__operation">コメントを{{action}}する</div>
  </div>
  <md-input-container class="comment-form__input-container">
    <textarea
      *ngIf="isAuthfocuse"
      mdInput
      class="comment-form__input-container__input" 
      [errorStateMatcher]="errorStateMatcher"
      formControlName="commentText"
      placeholder="コメント本文"
      appAutofocus
      ></textarea>
    <textarea
      *ngIf="!isAuthfocuse"
      mdInput
      class="comment-form__input-container__input" 
      [errorStateMatcher]="errorStateMatcher"
      formControlName="commentText"
      placeholder="コメント本文"
      ></textarea>
    <md-error *ngIf="hasError('required', commentText)">
      {{ messageService.get('required',['コメント本文']) }}
    </md-error>
  </md-input-container>
  <div class="comment-form__operation-container">
    <button 
      *ngIf="hasCancelBtn"
      md-raised-button
      type="button"
      (click)='onCancel();'><i class="fa fa-fw fa-times"></i>  キャンセル</button>
    <button
      md-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
      ><i class="fa fa-fw fa-commenting"></i>  {{action}}</button>
  </div>
</form>