<form
  (ngSubmit)="onSubmit(form)"
  [formGroup]="form"
  class="comment-form"
  >
  <div class="comment-form__header">
    <img class="comment-form__author-icon"
      src="data:image/png;base64,{{ auth.loginUser.icon }}">
    <div class="comment-form__title">コメントを{{action}}する</div>
  </div>
  <mat-input-container class="comment-form__main">
    <textarea
      *ngIf="isAuthfocuse"
      matInput
      class="comment-form__textarea"
      formControlName="commentText"
      placeholder="コメント本文"
      appAutofocus
      ></textarea>
    <textarea
      *ngIf="!isAuthfocuse"
      matInput
      class="comment-form__textarea"
      formControlName="commentText"
      placeholder="コメント本文"
      ></textarea>
    <mat-error *ngIf="hasError('required', commentText)">
      {{ messageService.get('required',['コメント本文']) }}
    </mat-error>
  </mat-input-container>
  <div class="comment-form__operation">
    <button
      *ngIf="hasCancelBtn"
      mat-raised-button
      type="button"
      (click)='onCancel();'><i class="fa fa-fw fa-times"></i>  キャンセル</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
      ><i class="fa fa-fw fa-commenting"></i>  {{action}}</button>
  </div>
</form>