<div class="wrapper">


<div class="message-area" *ngIf="drafts && drafts.length === 0">
  <div class="message-area__main">
    <div class="message-area__main__icon">
      <i class="fa fa-fw fa-2x fa-exclamation-triangle"></i>
    </div>
    <div class="message-area__main__message">
      下書きはまだ登録されていません。
    </div>
  </div>
</div>

<div class="prograss-bar" *ngIf="showPrograssBar" >
  <md-spinner></md-spinner>
</div>
<ng-container *ngIf="drafts && drafts.length > 0">
  <div class="draft-list">
    <div
      mat-ripple
      class="draft-list__item"
      *ngFor="let item of drafts | orderby: ['-created']"
      [routerLink]="['/', 'drafts', item._id ]"
      routerLinkActive="active"
      >
        <div  class="draft-list__item__title">{{item.title}}</div>
        <div class="draft-list__item__date">{{item.updated | date: 'yyyy/MM/dd HH:mm' }}<span class="draft-list__created-or-updated"> に{{item.created == item.updated ? "作成" : "更新" }}</span></div>
    </div>
  </div>

  <router-outlet></router-outlet>  
</ng-container>

</div>

