<div class="wrapper">
<div class="prograss-bar" *ngIf="!notFound && !groupedDrafts" >
  <md-spinner></md-spinner>
</div>
<div class="message-wrapper" *ngIf="notFound">
  <div class="message">
    <div class="massage__icon">
      <i class="fa fa-fw fa-2x fa-exclamation-triangle"></i>
    </div>
    <div class="message__text">下書きはまだ作成していません。</div>  
  </div>
</div>
<div class="draft-list" *ngIf="groupedDrafts">

  <div class="draft-list__title">未投稿 ({{groupedDrafts.notPosted.length}}件)</div>
  <ng-container *ngIf="groupedDrafts.notPosted.length > 0">        
    <div
      mat-ripple
      class="draft-list__item"
      *ngFor="let item of groupedDrafts.notPosted | orderby: ['-created']"
      [routerLink]="['/', 'drafts', item._id ]"
      routerLinkActive="active"
      >
        <div  class="draft-list__item__title">{{item.title}}</div>
        <div class="draft-list__item__date">{{item.updated | date: 'yyyy/MM/dd HH:mm' }}<span class="draft-list__created-or-updated"> に{{item.created == item.updated ? "作成" : "更新" }}</span></div>
    </div>
  </ng-container>

  <div class="draft-list__title">投稿済み ({{groupedDrafts.posted.length}}件)</div>
  <ng-container *ngIf="groupedDrafts.posted.length > 0">        
    <div
      mat-ripple
      class="draft-list__item"
      *ngFor="let item of groupedDrafts.posted | orderby: ['-created']"
      [routerLink]="['/', 'drafts', item._id ]"
      routerLinkActive="active"
      >
        <div  class="draft-list__item__title">{{item.title}}</div>
        <div class="draft-list__item__date">{{item.updated | date: 'yyyy/MM/dd HH:mm' }}<span class="draft-list__created-or-updated"> に{{item.created == item.updated ? "作成" : "更新" }}</span></div>
    </div>
  </ng-container>

</div>

<router-outlet></router-outlet>  

</div>

