.wrapper {
  display: flex;
  height: 100%;
}
.message-area {
  margin: 24px;
  border-radius: 4px;
  width: 700px;
  color: #464545;
  background: #d2d2d2;
  padding: 24px;

  &__main {
    display: flex;

    &__icon {
      width: 10%;
      padding: 12px;
      box-sizing: border-box;
    }
    &__message {
      width: 90%;
    }
  }


  &__operation {
    margin-top: 24px;
    display: flex;   
    
    &__spacer {
      flex: 1 1 auto;
    }      
  }
}

.prograss-bar {
  width: 810px;
  margin: 42px 24px 124px 24px;
  display: flex;
  justify-content: center;
}

.draft-list {
  width: 300px;
  height: 100%;
  margin: 0;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  z-index: 1; /* 影を消さないため */

  &__item {
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    text-decoration: none;
    padding: 8px 16px;

    &:hover {
      color: #181818;
      background: #E9E9E9;
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        content: '';
        width: 4px;
        height: 100%;
        background: #484848;
      }
    }

    &:focus {
      outline: 0;
    }

    &.active {
      background: #E9E9E9;
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        content: '';
        width: 4px;
        height: 100%;
        background: #ff108a;
      }
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &__date {
      font-size: 0.7em;
      white-space: nowrap;
    } 
    
    &__created-or-updated {
      font-size: 0.5em;
    }
  }
}
