<mat-card class="login-box">
  <mat-toolbar class="login-title" color="primary">
    <span class="subtitle" *ngIf="passwordChageMode" >パスワード変更</span>
    <span class="subtitle" *ngIf="!passwordChageMode && isLoginMode">ログイン</span>
    <span class="subtitle" *ngIf="!passwordChageMode && !isLoginMode">ユーザ登録</span>
  </mat-toolbar>



  <app-password-form
    *ngIf="passwordChageMode"
    (complete)='goNextPage("パスワードを変更しました。")'
    ></app-password-form>

  <app-login-form
    *ngIf="!passwordChageMode && isLoginMode"
    (changeLoginMode)="setLoginMode(false)"
    (complete)="goNextPage()"
    ></app-login-form>
  <app-register-form
    *ngIf="!passwordChageMode && !isLoginMode"
    (changeLoginMode)="setLoginMode(true)"
    (complete)="goNextPage()"
    ></app-register-form>
</mat-card>