<mat-card class="login-box">
  <mat-toolbar class="login-title" color="primary">
    <span class="subtitle" *ngIf="passwordChageMode" >パスワード変更</span>
    <span class="subtitle" *ngIf="!passwordChageMode && isLoginMode">ログイン</span>
    <span class="subtitle" *ngIf="!passwordChageMode && !isLoginMode">ユーザ登録</span>
  </mat-toolbar>


  <ng-container *ngIf="passwordChageMode">
    <app-password-form
      (complete)='goNextPage("パスワードを変更しました。")'
      ></app-password-form>
  </ng-container>

  <ng-container *ngIf="!passwordChageMode && isLoginMode">
    <app-login-form
      (changeLoginMode)="setLoginMode(false)"
      (complete)="goNextPage()"
      ></app-login-form>
  </ng-container>

  <ng-container *ngIf="!passwordChageMode && !isLoginMode">
    <app-register-form
      (changeLoginMode)="setLoginMode(true)"
      (complete)="goNextPage('Material Blogへようこそ！')"
      ></app-register-form>
  </ng-container>
</mat-card>