.login-box {
    top: 20%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 0;
    position: fixed;
}

.login-title {
  width: 100%;
}

.login-title .title {
  display: block;
  font-weight: 100;
  font-size: 36px;
}

.login-title .subtitle {
  
}
