<form
  (ngSubmit)="onSubmit(form)"
  *ngIf="form"
  [formGroup]="form"
  class="form"
  >
  <div class="form__content">
    <div class="form__content__error-message"*ngIf="message">{{message}}</div>
    <mat-input-container class="form__input-container">
      <input
        matInput
        type="text"
        placeholder="ユーザID"
        maxlength="30"
        formControlName="userId"
        >
        <mat-error *ngIf="hasError(userId, 'required')">
          {{ messageService.get('required',['ユーザID']) }}
        </mat-error>
        <mat-error *ngIf="hasError(userId, 'minlength')">
          {{ messageService.get('minlength',['ユーザID', userId.getError('minlength').requiredLength]) }}
        </mat-error>
        <mat-error *ngIf="hasError(userId, 'maxlength')">
            {{ messageService.get('maxlength',['ユーザID', userId.getError('maxlength').requiredLength]) }}
          </mat-error>
        <mat-error *ngIf="hasError(userId, 'pattern')">
          {{ messageService.get('pattern_hankakueisuji',['ユーザID']) }}
        </mat-error>
        <mat-error *ngIf="hasErrorWithoutDirty(userId, 'remote')">
          <ng-container *ngFor="let msg of userId.getError('remote')">
            {{msg}}<br>
          </ng-container>
        </mat-error>
    </mat-input-container>

    <ng-container formGroupName="passwordGroup">
      <mat-input-container class="form__input-container">
        <input
          matInput
          type="password"
          placeholder="パスワード"
          maxlength="30"
          formControlName="password"
          >
          <mat-error *ngIf="hasError(password, 'required')">
            {{ messageService.get('required',['パスワード']) }}
          </mat-error>
          <mat-error *ngIf="hasError(password, 'pattern')">
            {{ messageService.get('pattern_password') }}
          </mat-error>
          <mat-error *ngIf="hasErrorWithoutDirty(password, 'remote')">
            <ng-container *ngFor="let msg of password.getError('remote')">
              {{msg}}<br>
            </ng-container>
          </mat-error>
      </mat-input-container>

      <mat-input-container class="form__input-container" >
        <input
          matInput
          type="password"
          placeholder="確認用パスワード"
          maxlength="30"
          formControlName="confirmPassword"
          >
          <mat-error *ngIf="hasError(confirmPassword, 'required')">
            {{ messageService.get('required',['確認用パスワード']) }}
          </mat-error>
          <mat-error *ngIf="hasErrorWithoutDirty(confirmPassword, 'remote')">
            <ng-container *ngFor="let msg of confirmPassword.getError('remote')">
              {{msg}}<br>
            </ng-container>
          </mat-error>
          <mat-error *ngIf="hasError(confirmPassword, 'passwordMatch')">
            {{ messageService.get('passwordMatch') }}
          </mat-error>
          <mat-error *ngIf="hasErrorWithoutDirty(passwordGroup, 'remote')">
            <ng-container *ngFor="let msg of passwordGroup.getError('remote')">
              {{msg}}<br>
            </ng-container>
          </mat-error>
      </mat-input-container>
    </ng-container>
  </div>



  <div class="form__operation">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
      id="registe-article-btn">
      <i class="fa fa-fw fa-user-plus"></i>  ユーザ登録
    </button>
  </div>
</form>


<div class="form__footer">
  <span class="spacer"></span>
  <button
    mat-button
    type="button"
    id="registe-article-btn"
    (click)="toRegister()"
    >
    <i class="fa fa-fw fa-chevron-circle-left"></i>  ログイン画面に戻る
  </button>
</div>
