<div  *ngIf="toc" class="toc">
  <div class="toc__inner">
    <a
      class="toc__title"
      mat-ripple
      [routerLink]="baseUrl"
      (click)="scrollService.scrollToTop()"
      >{{title}}</a>
    <div
      class="toc__head"
      *ngFor="let headInfo of toc; let index = index;"
      >
      <a class="toc__head__link"
        mat-ripple
        [style.paddingLeft.px]="calcMarginOfTitle(headInfo.level)"
        href="{{baseUrl + '#' + headInfo.slug}}"
        [class.active]="index === activeIndex"
        >{{headInfo.title}}</a>
    </div>
  </div>
</div>              
