<div class="article-area" *ngIf="article">
  <h1 class="article-title">{{article.title}}</h1>
  <div class="article-metadata">
    <div class="article-author">{{article.author.userId}}</div>
    <div class="article-date">{{article.date}}</div>
    <div *ngIf="isMyArticle()">
      <a md-button [routerLink]="['/drafts', article.articleId, 'edit']"  routerLinkActive="active">
        <i class="fa fa-fw fa-pencil-square"></i><span>  編集</span>
      </a>
      <a md-button (click)="deleteArticle()">
        <i class="fa fa-fw fa-trash-o"></i><span>  削除</span>
      </a>
    </div>
  </div>
  <div class="article-body">
    <div *ngIf="article.isMarkdown; then markdown else plainText"></div>
    <ng-template #markdown>
      <p [innerHTML]="article.body | toMarkdown" class="markdown-body"></p>
    </ng-template>
    <ng-template #plainText>
      <pre [innerHTML]="article.body" class="plain-text-body"></pre>                
    </ng-template>
  </div>
</div>
