<div *ngIf="!article">
    <md-progress-bar class="content__progressbar" mode="indeterminate"></md-progress-bar>    
</div>
<div  *ngIf="article" class="article">
  <div class="article__header header">
    <div class="header__title-wrapper">
      <h1 class="header__title">{{article.title}}</h1>
    </div>
    <div class="header__spacer"></div>
    <div class="header__info-summary info-summary">
      <div class="info-summary__factor-wrapper">
        <div class="info-summary__factor_first">
          <div>
            <i class="info-summary__factor-icon fa fa-fw fa-thumbs-up"></i>
            <span class="info-summary__factor-count">{{article.vote ? article.vote.length : 0}}</span>
          </div>
          <div class="info-summary__factor-label">いいね</div>
        </div>
        <div class="info-summary__factor">
          <div>
            <i class="info-summary__factor-icon fa fa-fw fa-commenting"></i>
            <span class="info-summary__factor-count">{{!commentListComponent ? 0 :!commentListComponent.comments ? 0 : (commentListComponent.comments| excludeDeletedComment).length}}</span>
          </div>
          <div class="info-summary__factor-label">コメント</div>
        </div>
      </div>
    
      <div class="info-summary__vote-button-wrapper">
        <button
          md-raised-button
          color="primary"
          (click)="registerVote()"
          *ngIf="!containMineVote(article.vote)"
          >
          <i class="fa fa-fw fa-thumbs-up"></i><span>  いいね</span>
        </button>
        <button
          md-raised-button
          (click)="deleteVote()"
          *ngIf="containMineVote(article.vote)"
          >
          <i class="fa fa-fw fa-check"></i><span>  いいね済み</span>
        </button>
      </div>
      <div *ngIf="article.vote" class="info-summary__voter-icons">
        <div 
          *ngFor="let voter of article.vote"
          class="info-summary__voter-icon-wrapper"
          >
            <img 
              *ngIf="voter.deleted"
              mdTooltip="いいねしたユーザは削除されました。"
              class="info-summary__voter-icon"
              src="assets/images/deleted-comment.png">
            <img
              *ngIf="!voter.deleted"
              mdTooltip="{{voter.userId}}"
              [routerLink]="['/', voter.userId, 'articles']"
              class="info-summary__voter-icon"
              src="data:image/png;base64,{{voter.icon}}">
        </div>
      </div>
    </div>
  </div>
  <div class="article__metadata">
    <img
      class="article__author-icon"
      src="data:image/png;base64,{{article.author.icon}}"
      [routerLink]="['/', article.author.userId, 'articles']"
      >
    <div 
      class="article__author" 
      [routerLink]="['/', article.author.userId, 'articles']">{{article.author.userId}}</div>
    <div class="article__updated">{{article.updated | date: 'yyyy/MM/dd HH:mm' }} に{{article.created == article.updated ? "投稿" : "更新" }}</div>
    <div
      *ngIf="auth.loginUser.userId === article.author.userId"
      class="article__operation">
      <button
        md-button
        [routerLink]="['/drafts', article._id, 'edit']" 
        routerLinkActive="active">
        <i class="fa fa-fw fa-pencil-square"></i><span>  編集</span>
      </button>
      <span class="spacer"></span>
      <button
        md-button
        [mdMenuTriggerFor]="menu">
        <i class="fa fa-fw fa-cog"></i>  設定
      </button>
      <md-menu #menu="mdMenu">
        <div md-menu-item disabled></div>
        <a md-menu-item (click)="deleteArticle()">
          <i class="fa fa-fw fa-trash-o"></i><span>  削除</span>
        </a>
      </md-menu>
    </div>
  </div>
  <div class="article__main">   
    <div class="article__main__content">
      <div *ngIf="article.isMarkdown; then markdown else plainText"></div>
      <ng-template #markdown>
        <p
          #markdownText
          [innerHTML]="text | safeHtml" 
          class="markdown-body"></p>
      </ng-template>
      <ng-template #plainText>
        <pre [innerHTML]="text" class="plain-text-body"></pre>                
      </ng-template>
    </div>

    <div class="article__main__toc">
      <div  *ngIf="toc" class="toc">
        <div class="toc__inner">
          <a
            class="toc__title"
            [routerLink]="baseUrl"
            (click)="scrollService.scrollToTop()"
            >{{article.title}}</a>
          <div
            class="toc__head"
            *ngFor="let headInfo of toc; let index = index;"
            >
            <a class="toc__head__link"
              [style.paddingLeft.px]="calcMarginOfComment(headInfo.level)"
              href="{{baseUrl + '#' + headInfo.slug}}"
              [class.active]="index === activeIndex"
              >{{headInfo.title}}</a>
          </div>
        </div>
      </div>                
    </div> 

  </div>
</div>

<div  *ngIf="article" class="comments">
  <app-comment-list
    _idOfArticle="{{article._id}}"
  ></app-comment-list>
</div>
