<div  *ngIf="article" class="article">
  <h1 class="article__title">{{article.title}}</h1>
  <div class="article__metadata">
    <img class="article__author-icon" src="data:image/png;base64,{{article.author.icon}}">
    <div 
      class="article__author" 
      [routerLink]="['/', article.author.userId, 'profile']">{{article.author.userId}}</div>
    <div class="article__updated">{{article.updated | date: 'yyyy/MM/dd HH:mm' }} に{{article.created == article.updated ? "投稿" : "更新" }}</div>
    <div
      *ngIf="auth.loginUser.userId === article.author.userId"
      class="article__operation">
      <button
        md-button
        [routerLink]="['/drafts', article._id, 'edit']" 
        routerLinkActive="active">
        <i class="fa fa-fw fa-pencil-square"></i><span>  編集</span>
      </button>
      <span class="spacer"></span>
      <button
        md-button
        [mdMenuTriggerFor]="menu">
        <i class="fa fa-fw fa-cog"></i>  設定
      </button>
      <md-menu #menu="mdMenu">
        <div md-menu-item disabled></div>
        <a md-menu-item (click)="deleteArticle()">
          <i class="fa fa-fw fa-trash-o"></i><span>  削除</span>
        </a>
      </md-menu>
    </div>
  </div>
  <div class="article__main">
    <div *ngIf="article.isMarkdown; then markdown else plainText"></div>
    <ng-template #markdown>
      <p [innerHTML]="article.body | toMarkdown" class="markdown-body"></p>
    </ng-template>
    <ng-template #plainText>
      <pre [innerHTML]="article.body" class="plain-text-body"></pre>                
    </ng-template>
  </div>
</div>

<div  *ngIf="article" class="comments">
  <app-comment-list
    _idOfArticle="{{article._id}}"
  ></app-comment-list>
</div>
