.profile {
  width: 940px;
  margin: 64px auto 120px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  padding: 80px 120px;
  background: white;
  box-sizing: border-box;

  &__title {
    color: #3f51b5;
    font-weight: 300;
  }

  &__main {
    padding-bottom: 24px;
  }

  &__operation {
    button {
      width: 100%;
      height: 48px;
    }
  }
}

.data-list {
  display: flex;

  .data {
    flex: 1;
  }
}

.data {
  display: flex;
  padding: 0;
  margin-bottom: 16px;
  width: 100%;
  $parent: &;

  &_image {
    @extend #{$parent};
    padding-left: 0;
    display: flex;
    align-items: start;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d7d7;
  }


  &__icon {
    display: block;
    bottom: 6px;
    font-size: 24px;
    color: #737373;
    margin-right: 18px;
    padding-top: 18px;

    &_focused {
      color: #3f51b5;
    }
  }

  &__input {
    flex: 1;

    &__textarea {
      height: 100px;
      resize: no;
    }
  }
}


.avator-icon {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: black 0 0 8px -1px;
  margin-left: 16px;
  background: white;
  image-rendering: -webkit-optimize-contrast;
}
