<ng-container *ngIf="user">

  <nav md-tab-nav-bar class="sub-nav-bar ink-bar-pink">
    <a md-tab-link
      class="sub-nav-bar__link"
      [routerLink]="['/', user.userId, 'profile']"
      routerLinkActive #rla1="routerLinkActive"
      [active]="rla1.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >プロフィール</a>
    <a md-tab-link
      class="sub-nav-bar__link"
      [routerLink]="['/settings', 'profile']"
      routerLinkActive #rla2="routerLinkActive"
      [active]="rla2.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >プロフィール編集</a>
  </nav>

  <form class="profile profile-form" (ngSubmit)="updateProfile()">
    <h1 class="profile__title">基本情報</h1>
    <div class="profile__main">
      <md-input-container class="data">
        <i class="data__icon fa fa-fw fa-id-card" #labelUserId [class.data__icon_focused]="labelUserId.focused"></i>
        <input 
          mdInput
          type="text"
          id="userId"
          name="userId"
          (focus)="labelUserId.focused = true"
          (blur)="labelUserId.focused = false"
          [(ngModel)]="user.userId"
          placeholder="ユーザID"
          required
          readonly
          >
      </md-input-container>
      <div class="data-list">
        <md-input-container class="data-list__data data">
          <i class="data__icon fa fa-fw fa-user" #labelUserName [class.data__icon_focused]="labelUserName.focused"></i>
          <input
            mdInput
            type="text"
            id="lastName"
            name="lastName"
            (focus)="labelUserName.focused = true"
            (blur)="labelUserName.focused = false"
            [(ngModel)]="user.lastName"
            placeholder="氏"
            >
        </md-input-container>
        <md-input-container class="data-list__data data">
          <input
            mdInput
            type="text"
            id="firstName"
            name="firstName"
            (focus)="labelUserName.focused = true"
            (blur)="labelUserName.focused = false"
            [(ngModel)]="user.firstName"
            placeholder="名"
            >
        </md-input-container>
      </div>
      <md-input-container class="data">
        <i class="data__icon material-icons fw" #labelEmail [class.data__icon_focused]="labelEmail.focused">email</i>
        <input
          mdInput
          type="text"
          id="email"
          name="email"
          (focus)="labelEmail.focused = true"
          (blur)="labelEmail.focused = false"
          [(ngModel)]="user.email"
          placeholder="メール"
          >
      </md-input-container>
      <md-input-container class="data">
        <i class="data__icon fa fa-fw fa-flag" #labelBlogTitle [class.data__icon_focused]="labelBlogTitle.focused"></i>
        <input
          mdInput
          type="text"
          id="blogTitle"
          name="blogTitle"
          (focus)="labelBlogTitle.focused = true"
          (blur)="labelBlogTitle.focused = false"
          [(ngModel)]="user.blogTitle"
          placeholder="ブログタイトル"
          >
      </md-input-container>
      <md-input-container class="data">
        <i class="data__icon material-icons fw" #labelUserDescription #labelUserDescription [class.data__icon_focused]="labelUserDescription.focused">description</i>
        <input
          mdInput
          type="text"
          id="userDescription"
          name="userDescription"
          (focus)="labelUserDescription.focused = true"
          (blur)="labelUserDescription.focused = false"
          [(ngModel)]="user.userDescription"
          placeholder="自己紹介"
          >
      </md-input-container>
      <md-input-container class="data">
        <i class="data__icon fa fa-fw fa-certificate" #labelIsAdmin [class.data__icon_focused]="labelIsAdmin.focused"></i>
        <input
          mdInput
          type="text"
          id="isAdmin"
          name="isAdmin"
          (focus)="labelIsAdmin.focused = true"
          (blur)="labelIsAdmin.focused = false"
          value="{{user.isAdmin ? '管理者' : '一般ユーザ'}}"
          placeholder="権限"
          required
          readonly
          >
      </md-input-container>
    </div>

    <h1 class="profile__title">アバター</h1>
    <div class="profile__main">
      <div class="data_image">
        <button
          type="button"
          md-raised-button
          (click)="iconFileInput.click()">画像変更</button>
        <input
          hidden
          #iconFileInput
          type="file"
          accept="image/*"
          id="icon"
          name="icon"
          (change)="onChangeIconFile($event)"
          >
        <img class="avator-icon" src="data:image/png;base64,{{user.icon}}">
      </div>
    </div>

    <div class="profile__operation">
      <button
        md-raised-button
        color="primary"
        type="submit"
        id="update-profile-btn">
        <i class="fa fa-fw fa-upload"></i>  更新
      </button>
    </div>
  </form>
</ng-container>