<div class="editor" *ngIf="article">
  <div class="title">
    <input type="text" id="register-article-title" [(ngModel)]="article.title" placeholder="タイトル" />
  </div>
  <div class="body">
    <div class="body-row-text">
      <textarea id="register-article-body" [(ngModel)]="article.body" placeholder="本文"></textarea>
    </div>
    <div class="body-preview">
    </div>
  </div>
  <div class="button-area">
    <div class="spacer"></div>
    <button 
      md-raised-button
      color="primary" 
      type="submit" 
      id="registe-article-btn" 
      (click)='updateArticle()'><i class="fa fa-upload"></i> 更新</button> 
  </div>
</div>
