.toolbar {
  position: fixed;
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  &__app-logo {
    font-size: 32px;
    margin-right: 24px;
    font-weight: 100;
    padding-left: 7px;

    &:focus {
      outline: 0;
    }
  }

  &__tab {
    border-bottom: 0;
  }

  &__title {
    font-weight: 300;
  }

  &__spacer {
    flex: 1 1 auto;    
  }

  &__btn {
    margin-right: 12px;
    $parent: &;

    &_color_white {
      @extend #{$parent};
      color: #2f2f2f;
      background: white;
    }
  }
}


.navbar {
  
  &__link {
    opacity: 1;
    color: #e6e8f5;
    height: 63px;
    line-height: 63px;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    i {
      margin-right: 4px;      
    }
  }
}


.menu-btn {
  width: 36px;
  height: 36px;
  margin: auto 12px;

  &__icon {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: white;
    image-rendering: -webkit-optimize-contrast;

    &:hover {
      opacity: 0.7;
    }
  }

  &__menu {

    &__description {
      border-bottom: #e4e4e4 1px solid;    
    }
  
    &__username {
      font-weight: bold;    
    }
  }
}

.content {
  padding-top: 63px;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;

  &__progressbar {
    width: 100%;
  }
}