<mat-toolbar *ngIf="isActiveHeader" class="toolbar" color="primary">
  <button
    mat-button
    class="toolbar__app-logo"
    [routerLink]="auth.loginUser ? '': 'articles'"
    routerLinkActive="active">{{title}}</button>


  <nav *ngIf="isActiveNavbar" mat-tab-nav-bar class="toolbar__tab navbar ink-bar-white">
    <a mat-tab-link
      *ngIf="auth.loginUser"
      class="navbar__link"
      routerLink=""
      routerLinkActive #rla1="routerLinkActive"
      [active]="rla1.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="fa fa-fw fa-star"></i>  <span>お気に入り</span>
    </a>
    <a mat-tab-link
      class="navbar__link"
      routerLink="articles"
      routerLinkActive #rla2="routerLinkActive"
      [active]="rla2.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="fa fa-fw fa-list"></i>  <span>記事一覧</span>
    </a>
  </nav>

  <h1 *ngIf="!isActiveNavbar" class="toolbar__title">{{routerName}}</h1>
  <span class="toolbar__spacer"></span>

  <ng-container *ngIf="auth.isFinishedCheckState">
    <button
      *ngIf="auth.loginUser && isNotEditor()"
      mat-icon-button
      matTooltip="記事を投稿する"
      routerLink="/drafts/new">
        <i class="fa fa-fw fa-pencil fa-2x"></i>
    </button>

    <button
      mat-button
      class="toolbar__btn_color_white"
      *ngIf="!auth.loginUser"
      [routerLink]="['login']"
      [queryParams]="{register: 'true'}"
      >
      <i class="fa fa-fw fa-sign-in"></i>  ユーザ登録
    </button>

    <button
      mat-button
      class="toolbar__btn"
      color="normal"
      *ngIf="!auth.loginUser"
      [routerLink]="['login']"
      >
      <i class="fa fa-fw fa-sign-in"></i>  ログイン
    </button>

    <div
      *ngIf="auth.loginUser"
      class="menu-btn"
      [matMenuTriggerFor]="menu">
      <img class="menu-btn__icon" src="{{auth.loginUser.icon ? 'data:image/png;base64,' + auth.loginUser.icon: ''}}">

      <mat-menu #menu="matMenu" class="menu-btn__menu">
        <div mat-menu-item disabled class="menu-btn__menu__description"><span class="menu-btn__menu__username">{{auth.loginUser.userId}}</span>としてログイン済</div>
        <button
          mat-menu-item
          [routerLink]="[auth.loginUser.userId, 'articles']"
          routerLinkActive="active">
          <i class="fa fa-fw fa-list"></i><span> 投稿一覧</span>
        </button>

        <button
          mat-menu-item
          [routerLink]="['drafts']"
          routerLinkActive="active">
          <i class="fa fa-fw fa-files-o"></i><span> 下書き一覧</span>
        </button>

        <button
          mat-menu-item
          [routerLink]="[auth.loginUser.userId, 'profile']"
          routerLinkActive="active">
          <i class="fa fa-fw fa-user-circle"></i><span> プロフィール</span>
        </button>
        <button
          mat-menu-item
          routerLink="/login"
          routerLinkActive="active">
          <i class="fa fa-fw fa-sign-out"></i><span> ログアウト</span>
        </button>
      </mat-menu>
    </div>
  </ng-container>

</mat-toolbar>

<div class="content">
  <ng-container *ngIf="isLoginPage() || auth.isFinishedCheckState">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container *ngIf="!isLoginPage() && !auth.isFinishedCheckState">
    <mat-progress-bar class="content__progressbar" mode="indeterminate"></mat-progress-bar>
  </ng-container>
</div>


