<md-toolbar *ngIf="isActiveHeader" class="toolbar-fixed" color="primary">
  <button
    md-button
    class="app-logo"
    [routerLink]="auth.loginUser ? '': 'articles'"
    routerLinkActive="active">{{title}}</button>


  <nav *ngIf="isActiveNavbar" md-tab-nav-bar class="nav-bar ink-bar-white">
    <a md-tab-link
      *ngIf="auth.loginUser"
      class="nav-bar-link"
      routerLink=""
      routerLinkActive #rla1="routerLinkActive"
      [active]="rla1.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="fa fa-fw fa-star"></i>  <span>お気に入り</span>
    </a>
    <a md-tab-link
      class="nav-bar-link"
      routerLink="articles"
      routerLinkActive #rla2="routerLinkActive"
      [active]="rla2.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="fa fa-fw fa-list"></i>  <span>記事一覧</span>
    </a>
    <a md-tab-link
      *ngIf="auth.loginUser"
      class="nav-bar-link"
      [routerLink]="[auth.loginUser._id, 'articles']"
      routerLinkActive #rla3="routerLinkActive"
      [active]="rla3.isActive"
      [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="fa fa-fw fa-user-circle"></i>  <span>自分の投稿</span>
    </a>
  </nav>

  <h1 *ngIf="!isActiveNavbar" class="routeName">{{routerName}}</h1>
  <span class="toolbar-spacer"></span>

  <button
    md-button
    class="register-btn"
    *ngIf="!auth.loginUser"
    [routerLink]="['login']"
    >
    <i class="fa fa-fw fa-sign-in"></i>  ユーザ登録
  </button>

  <button
    md-button
    color="normal"
    *ngIf="!auth.loginUser"
    [routerLink]="['login']"
    >
    <i class="fa fa-fw fa-sign-in"></i>  ログイン
  </button>

  <button
    *ngIf="auth.loginUser"
    md-button
    [mdMenuTriggerFor]="menu">
    <span class="menu-icon-username">{{auth.loginUser.userId}}</span>
    <img class="menu-icon" src="{{auth.loginUser.icon ? 'data:image/png;base64,' + auth.loginUser.icon: ''}}">

    <md-menu #menu="mdMenu">
      <div md-menu-item disabled class="status"><span class="username">{{auth.loginUser.userId}}</span>としてログイン済</div>
      <button
        md-menu-item
        [routerLink]="[auth.loginUser._id, 'profile']"
        routerLinkActive="active">
        <i class="fa fa-fw fa-user-circle"></i><span> マイページ</span>
      </button>
      <button
        md-menu-item
        routerLink="/login" 
        routerLinkActive="active">
        <i class="fa fa-fw fa-sign-out"></i><span> ログアウト</span>
      </button>
    </md-menu>
  </button>
</md-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<button  *ngIf="auth.loginUser && isNotEditor()" 
  md-fab class="new-article-btn" 
  routerLink="/drafts/new"
  mdTooltip="投稿する"
  mdTooltipPosition="before"
  >
    <i class="fa fa-fw fa-pencil fa-3x"></i>
</button>


