.articles-area {
  width: 1114px;
  margin: auto;
}
.article-area {
}

.article-tile {
}

.article-card {
  width: 95%;
  height: 95%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.article-card-header {
  padding: 12px 0 0 12px;
  background: #e4e4e4;
  border-bottom: #d2d2d2 solid 1px;
}

.article-card-content {
  padding: 24px;  
}

.article-card:hover {
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,.4);
}

