.form {
  width: 100%;
  padding: 16px;
  padding-top: 36px;
  box-sizing: border-box;

  &__content {
    &__error-message {
      color: #f44336;
      width: 100%;
      margin: 12px 0;
      font-size: 14px;
    }
  }

  &__input-container {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 36px;

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
  }

  &__operation {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: 12px;

    button {
      flex: 1;
      height: 48px;
    }
  }

  &__footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 12px;
    border-top: 1px solid #f5f4f4;
    color: gray;

    .spacer {
      flex: 1 1 auto;
    }

    button {
      flex:1;
    }
  }
}

