.comment-title-area {
  display: flex;  
}
  
.comment-title {
  margin-bottom: 12px;
  font-weight: bold;
  color: gray;
  width: 100%;
}


.toggle-comment-detail-btn {
  color: gray;
  height: 30px;
  line-height: 0;
}


.comment {
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid #f5f4f4;
}

.comment.last-item {
  margin-bottom: 60px;
}

.comment-display-container {
  display: flex;
}

.comment-author-icon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
}

.comment-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


.comment-metadata {
  display: flex;
  font-size: 14px;
}

.comment-author {
  font-weight: bold;
  color: #3f51b5;
  padding-right: 6px
}

.comment-created {
  white-space: nowrap;
  color: #A4A2A2;
}

.comment-created .created-or-updated {
  font-size: 0.7em;
}

.comment-plain-text-body {
  white-space: pre;          
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #24292e;
  margin: 0;
}

.comment-operation-area {
  color: gray;
}

.add-reply-area {
  margin: 12px 0 12px 42px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #eaeaea;
}


.deleted-comment.comment-display-container {
  background-color: #f5f4f4;
  padding: 8px;
}

.deleted-comment .comment-content {
  color: gray;
  line-height: 36px;
  height: 36px;
}
