<div class="voter-list">
  <div class="voter-list__count">
    いいね{{ voters ? (voters | excludeDeletedVoter).length :0 }}件
  </div>
  <div *ngIf="voters" class="voter-list__content">
    <div
      *ngFor="let voter of (voters | excludeDeletedVoter)"
      class="voter-list__voter">
      <img
        matTooltip="{{voter.userId}}"
        class="voter-list__voter-icon"
        [routerLink]="['/', voter.userId, 'articles']"
        lazyLoad="/api/images/avator/{{ voter._id}}"
        [offset]="this.Constant.LAZY_LOAD_OFFSET"
        >
    </div>
  </div>
</div>

