<div class="voter-list">
  <div class="voter-list__count">
    いいね{{(data.voters | excludeDeletedVoter).length}}件
  </div>
  <div *ngIf="data.voters" class="voter-list__content">
    <div
      *ngFor="let voter of (data.voters | excludeDeletedVoter)"
      class="voter-list__voter">
      <img
        mdTooltip="{{voter.userId}}"
        class="voter-list__voter-icon"
        src="data:image/png;base64,{{voter.icon}}"
        [routerLink]="['/', voter.userId, 'articles']"
        (click)="close()">
    </div>
  </div>
</div>

