.message-area {
  margin: 24px;
  border-radius: 4px;
  width: 810px;
  color: #464545;
  background: #d2d2d2;
  padding: 24px;

  &__main {
    display: flex;
    align-items: center;

    &__icon {
      box-sizing: border-box;
      font-size: 36px;
      padding-right: 12px;
    }

    &__error-code {
      font-size: 72px;
      color: gray;
      padding-right: 12px;
    }
    &__message {
      font-size: 24px;
    }
  }
}