
.user-list {
  display: flex;
  padding: 24px;
  flex-wrap: wrap;

  &__user {
    margin-right: 36px;
    margin-bottom: 42px;
  }
}

.user {
  width: 300px;
  height: 400px;
  position: relative;
  background: white;
  box-shadow: 0 0 10px 1px grey;
  border-radius: 2px;
  overflow-y: hidden;

  &__profile-background {
    width: 300px;
    height: 100px;
    overflow-y: hidden;
    background: #2c334a;
    image-rendering: -webkit-optimize-contrast;
  }

  &__avator {
    width: 42px;
    height: 42px;
    position: absolute;
    background: white;
    top: 89px;
    left: 12px;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px grey;
    image-rendering: -webkit-optimize-contrast;
  }

  &__user-id {
    position: absolute;
    left: 63px;
    font-size: 18px;
    color: #333456;
  }

  &__content {
    padding: 12px;
    margin-top: 32px;
    background: #ffffff;
  }
}

.data {
  display: flex;
  padding: 0;
  margin-bottom: 8px;
  width: 100%;
  $parent: &;

  &_image {
    @extend #{$parent};
    padding-left: 0;
    display: flex;
    align-items: start;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d7d7;
  }


  &__icon {
    display: block;
    bottom: 6px;
    font-size: 24px;
    color: #737373;
    margin-right: 18px;
    padding-top: 18px;

    &_focused {
      color: #3f51b5;
    }
  }

  &__input {
    flex: 1;

    &__textarea {
      height: 100px;
      resize: no;
    }
  }

  &__output {
    flex: 1;
    width:100%;

    &__label {
      font-size: 10px;
      color: #6d6d6d;
      margin-bottom: 2px;
    }

    &__value {
      min-height: 20px;
      color: #3F3F3F;
      padding-bottom: 2px;
      border-bottom: 1px solid #949494;

      $parent: &;
      &_textarea {
        @extend #{$parent};
        margin: 0;
        height: 120px;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}