<div class="content">
  <div class="title">
    <div>お気に入り検索条件を登録</div>
    <div class="title__spacer"></div>
    <div class="title__close-btn"
      (click)="close()">
        <i class="fa fa-fw fa-times" aria-hidden="true"></i>
    </div>
  </div>
  <div
    mat-dialog-content
    *ngIf="form">

    <div class="data-label">
      <div>お気に入り検索条件名</div>
    </div>
    <mat-input-container class="data-wrapper">
      <input
        matInput
        type="text"
        class="data"
        [(ngModel)]="form.name"
        ngDefaultControl
        required >
    </mat-input-container>



    <div class="data-label">
      <div>投稿日で絞り込み</div>
    </div>
    <div class="data-wrapper_date-search-pattern">
      <mat-form-field
        *ngIf="form"
        class="data-wrapper_date-search-pattern__factor">
        <mat-select
          [(ngModel)]="form.dateSearchPattern"
          placeholder="投稿期間">
          <mat-option *ngFor="let key of (dateRangePatterns | keys)" [value]="key">
            {{dateRangePatterns[key]}}
          </mat-option>
        </mat-select>
        <i
          *ngIf="form.dateSearchPattern"
          matSuffix
          matTooltip="投稿期間指定を解除"
          (click)="resetDateSearchPattern()"
          class="clear-icon fa fa-fw fa-times"></i>
      </mat-form-field>

      <mat-form-field
        *ngIf="isSpecificDateRange(form.dateSearchPattern)"
        class="data-wrapper_date-search-pattern__factor">
          <input
            matInput
            [matDatepicker]="fromPicker"
            [(ngModel)]="form.dateFrom"
            ngDefaultControl
            readonly
            placeholder="開始日">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
          <i
            *ngIf="form.dateFrom"
            matSuffix
            matTooltip="開始日の指定を解除"
            class="clear-icon fa fa-fw fa-close"
            (click)="form.dateFrom = null"></i>
      </mat-form-field>
      <mat-form-field
        *ngIf="isSpecificDateRange(form.dateSearchPattern)"
        class="data-wrapper_date-search-pattern__factor">
        <input
          matInput
          [matDatepicker]="toPicker"
          [(ngModel)]="form.dateTo"
          ngDefaultControl
          readonly
          placeholder="終了日">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
        <i
          *ngIf="form.dateTo"
          matSuffix
          matTooltip="終了日の指定を解除"
          class="clear-icon fa fa-fw fa-close"
          (click)="form.dateTo = null"></i>
      </mat-form-field>
    </div>

    <div class="data-label">
      <div>ユーザで絞り込み</div>
    </div>
    <div class="user-select">
      <div
        class="user-select__unselected">
        <div class="user-select__title">
          <i class="fa fa-fw fa-user"></i> ユーザ（未選択）
        </div>
        <mat-list class="user-select__list">
          <mat-progress-bar *ngIf="!(form.checkUserList || form.unCheckUserList)" mode="indeterminate"></mat-progress-bar>
          <ng-container *ngIf="form.checkUserList || form.unCheckUserList">
            <mat-list-item
              *ngFor="let checkinfo of form.unCheckUserList; trackBy: trackByUserList"
              class="user" >
              <div
                class="user__content"
                (click)="moveToCheckList(checkinfo)"
                >
                <img
                  class="user__content__icon"
                  src="data:image/png;base64,{{checkinfo.user.icon}}">
                <div
                  class="user__content__userId">{{checkinfo.user.userId}}</div>
                <i class="show-when-hover fa fa-fw fa-arrow-right" aria-hidden="true"></i>
              </div>
            </mat-list-item>
          </ng-container>

        </mat-list>
      </div>

      <div class="user-select__selected">
        <div class="user-select__title">
          <i class="fa fa-fw fa-check-square-o"></i> 選択したユーザ
        </div>
        <mat-list class="user-select__list">
          <mat-progress-bar *ngIf="!(form.checkUserList || form.unCheckUserList)" mode="indeterminate"></mat-progress-bar>
          <ng-container *ngIf="form.checkUserList || form.unCheckUserList">

            <mat-list-item
              *ngFor="let checkinfo of form.checkUserList; trackBy: trackByUserList"
              class="user" >
              <div
                class="user__content"
                (click)="moveToUnCheckList(checkinfo)"
                >
                <img
                  class="user__content__icon"
                  src="data:image/png;base64,{{checkinfo.user.icon}}">
                <div
                  class="user__content__userId">{{checkinfo.user.userId}}</div>
                <i class="show-when-hover fa fa-fw fa-arrow-left" aria-hidden="true"></i>
                </div>
            </mat-list-item>

          </ng-container>
        </mat-list>
      </div>

    </div>


  </div>

  <div mat-dialog-actions style="display:flex;">
    <div style="flex: 1 1 auto"></div>
    <button mat-raised-button (click)="close()" tabindex="-1" style="margin-right: 12px;">キャンセル</button>
    <button
      mat-raised-button
      color="primary"
      (click)="setOutput()"
      [mat-dialog-close]="output">決定</button>
  </div>
</div>
