<div class="content">
  <div class="title">
    <div>お気に入り検索条件を登録</div>
    <div class="title__spacer"></div>
    <div class="title__close-btn"
      (click)="close()">
        <i class="fa fa-fw fa-times" aria-hidden="true"></i>
    </div>
  </div>
  <div mat-dialog-content *ngIf="form">
    <mat-input-container class="data-wrapper">
      <input
        matInput
        type="text"
        class="data"
        [(ngModel)]="form.name"
        placeholder="検索条件名"
        ngDefaultControl
        required >
    </mat-input-container>

    <ng-container *ngIf="!form.checkUserList">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <div *ngIf="form.checkUserList" class="data-label">
      <i class="fa fa-fw fa-user"></i> ユーザ
    </div>
    <mat-list *ngIf="form.checkUserList" class="data-wrapper">
      <mat-list-item
        *ngFor="let checkinfo of form.checkUserList"
        mat-ripple
        class="user" >
        <mat-checkbox
          class="user__check"
          [(ngModel)]="checkinfo.checked"
          ngDefaultControl >
        </mat-checkbox>
        <img
          (click)="checkinfo.checked = !checkinfo.checked"
          class="user__icon"
          src="data:image/png;base64,{{checkinfo.user.icon}}">
        <p
          (click)="checkinfo.checked = !checkinfo.checked"
          class="user__userId">{{checkinfo.user.userId}}</p>
      </mat-list-item>
    </mat-list>
    <div class="data-label">
      <div><i class="fa fa-fw fa-calendar"></i> 投稿日</div>
      <div class="data-label__spacer"></div>
      <button
        class="data-label__clear-btn"
        *ngIf="form.dateSearchPattern"
        mat-button
        (click)="resetDateSearchPattern()">
        <i class="fa fa-fw fa-times"></i> 選択を解除</button>
    </div>
    <div class="data-wrapper">
      <mat-radio-group
        *ngIf="form"
        [(ngModel)]="form.dateSearchPattern"
        class="date-search-pattern">
        <div
          class="date-search-pattern__factor-wrapper"
          *ngFor="let key of (dateRangePatterns | keys)">
          <mat-radio-button
            mat-ripple
            class="date-search-pattern__factor full-width"
            [class.checked]="form.dateSearchPattern === key"
            [value]="key"
            ngDefaultControl>{{dateRangePatterns[key]}}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <div
      *ngIf="isSpecificDateRange(form.dateSearchPattern)"
      class="data-wrapper">
      <mat-form-field>
          <input
            matInput
            [matDatepicker]="fromPicker"
            [(ngModel)]="form.dateFrom"
            ngDefaultControl
            readonly
            placeholder="開始日">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="toPicker"
          [(ngModel)]="form.dateTo"
          ngDefaultControl
          readonly
          placeholder="終了日">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions style="display:flex;">
    <div style="flex: 1 1 auto"></div>
    <button mat-raised-button (click)="close()" tabindex="-1" style="margin-right: 12px;">キャンセル</button>
    <button
      mat-raised-button
      color="primary"
      (click)="setOutput()"
      [mat-dialog-close]="output">決定</button>
  </div>
</div>
