/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* fontawsomeのfa-fwに概要するクラス　等幅でマテリアルアイコンを表示する */
.material-icons.fw {
  width: 1.28571429em;
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
    margin: 0;
    background:#f5f4f4;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chapter-title {
  color: #3949ab;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

.ink-bar-white .mat-ink-bar {
  background-color: #f1f1ff !important;
  height: 3px;
}

.ink-bar-pink .mat-ink-bar {
  background-color: #ec407a;
  height: 3px;
}

.mat-tooltip {
  font-size: 0.9em !important;
}

.mat-raised-button:hover,
.mat-fab:hover,
.mat-mini-fab:hover {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* ツールバー */
.mat-tooltip {
  /* 改行を表示する */
  white-space: pre-wrap;
  /* 読みやすくするため透過率を上げる */
  background: rgba(97,97,97, 0.95);
}
/* TODO キャレットの色検討 */
input,textarea {
  caret-color: blue;
}


/* 
 * 一覧のMarkdownは限られたスペースで多くの情報を表示したいので
 * スタイルをスリムアップする
 */
.article-list .markdown-body {
  font-size: 14px;
  margin: 0;

  &>*:first-child {
    margin-top: 0;
  }

  h1 {
    padding-bottom: 0.2em;
    margin: 0 0.2em 0.6em 0;
    font-size: 1.2em;
    border-bottom: 1px solid #eaecef;
    color: rgba(36, 41, 46, 0.9);
  }
  
  h2 {
    padding-bottom: 0.2em;
    margin: 0 0.2em 0.6em 0;
    font-size: 1.2em;
    border-bottom: 1px solid #eaecef;
    color: rgba(36, 41, 46, 0.9);
  }
  
  h3 {
    padding-bottom: 0.2em;
    margin: 0 0.2em 0.6em 0;
    font-size: 1.2em;
    color: rgba(36, 41, 46, 0.95);
  }

  h4 {
    padding-bottom: 0.2em;
    margin: 0 0.2em 0.6em 0;
    font-size: 1.2em;
    color: rgba(36, 41, 46, 0.95);
  }

  h5 {
    padding-bottom: 0.2em;
    margin: 0 0.2em 0.6em 0;
    font-size: 1.2em;
    color: rgba(36, 41, 46, 0.95);
  }

  p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

