.article-list {
  width: 810px;
  margin: 24px 24px 124px 24px;

  &__item {    
    margin-bottom: 24px;
  }
  
}


.article {
  box-sizing: border-box;
  padding: 0;
  transition: 0.5s;
  border-bottom: 1px dotted #ccc;
  background: white;
  position: relative;
  border-radius: 2px;
  box-shadow: 1px 1px 10px -1px rgba(0,0,0,.4);

  &__header {
    cursor: pointer;
    background: #5e6371;
    display: flex;
    position: relative;
    color: white;

    &:focus {
      outline: 0;
      background: rgba(94, 99, 113, 0.74);  
    }

    &:before,
    &:after{
      position: absolute;
      bottom: 0;
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      background: rgba(255, 255, 255, 0.11);
      transition: 0.4s;
    }
    &:before{
      left: 50%;
    }
    &:after{
      right: 50%;
    }
    
    &:hover:before,
    &:hover:after{
      width: 50%;
    }
  }


  &__avator {
    margin: 12px;
    box-sizing: border-box;
  }
  
  &__avator-icon {
    max-width: 42px;
    max-height: 42px;
    background: white;
    width: 100%;
    border-radius: 4px;
    image-rendering: -webkit-optimize-contrast;
  }

  &__subtitle {
    margin: 12px;
    margin-left: 0px;
  }

  &__author-name {
    white-space: nowrap;
  }

  &__date {
    font-size: 0.7em;
    white-space: nowrap;
  }

  &__created-or-updated {
    font-size: 0.5em;
  }

  &__title-wrapper {
    margin: 12px;
    margin-left: 0;
    border-left: solid 1px gray;
    padding-left: 12px;
  }

  &__title {
    height: 100%;
    color: #ffffff;
    font-size: 1.6em;
  }

  &__main {
    padding: 12px;
    padding-bottom: 0;
    -webkit-font-smoothing: antialiased;
    position: relative;
    bottom: 0;
    height: 180px;
    overflow: hidden;

    &:after {
      content  : "";
      position : absolute;
      z-index  : 1;
      left     : 0;
      pointer-events   : none;
      background-image : linear-gradient(to bottom, 
                        rgba(255,255,255, 0), 
                        rgba(255,255,255, 1) 90%);
      width    : 100%;
      height: 4em;
      bottom   : 0;
    } 
  }

  &__operation {
    margin: 0 8px;
    border-top: #d4d4d4 1px solid;
  }
  
  &__operation-btn {
    color: #606060;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  &__comments {
    width: 100%;
    border-top: 1px solid #d4d4d4;    
  }

  &__comments-detail {
    padding: 12px;
    background: #fdfdfd;
    border-top: 1px solid #d4d4d4;
  }  

  &__comment-editor {
    width: 100%;
  }

}


.plain-text-body {
  white-space: pre;          
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #24292e;
  margin: 0;
}


.comments {
  padding: 12px;
  background: #fdfdfd;
  box-sizing: border-box;
  display: flex;
  position: relative;

  &__count-icon {
    font-size: 0.8em;
  }

  &__count {
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    width: 72px;
    box-sizing: border-box;
    text-align: center;

    $parent: &;

    &_vote {
      @extend #{$parent};
      border-right: 1px solid #d4d4d4;

      $parent: &;      
      &_link {
        @extend #{$parent};
        color: #3f51b5;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }          
      }
    }
  }

  &__count-unit {
    font-size: 0.7em;
  }
  
  &__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
  }

  &__comment {
    margin-top: 12px;
    line-height: 0;
    
    &__user {
      width: 24px;
      height: 24px;
      box-shadow: grey 0 0 1px 0px;
      margin-right: 12px;
      background: white;
      border-radius: 3px;
      image-rendering: -webkit-optimize-contrast;
      cursor: pointer;
    }
  }

  &__operation {
    height: 24px;
    flex: 1 1 auto;
    display: flex;

    &__spacer {
      flex: 1 1 auto;  
    }
    &__show-editor-btn {
      line-height: 1;
      height: 100%;
      display: block;
      color: #606060;
    }

    &__show-detail-btn {
      color: #3f51b5;
      height: 24px;
      width: 24px;
      line-height: 0;

      &:hover {
        background-color: #B8BFE0;
      }
    }
  }

}


.comment-editor {
  background: #fdfdfd;
  height: 62px;
  padding: 12px;
  box-sizing: border-box;
  border-top: 1px #d4d4d4 solid;
  display: flex;

  &__author-icon {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-right: 12px;
    box-sizing: border-box;
    box-shadow: #2f2f2f 0 0 1px 0;
  }

  &__body {
    flex: 1;
    height: 36px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 25px;
    border: solid 1px #d4d4d4;
    outline: 0;
  }

  &__cancel-btn {
    margin-left: 8px;  
  }
  &__register-btn {
    margin-left: 8px;
  }
}


.search-condition {
  position: fixed;
  top: 90px;
  right: 24px;
  bottom: 24px;
  width: 480px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.4);
  padding: 12px;
  padding-top: 48px;


  &__header {
    display: flex;
    padding: 12px;
    color: white;
    background: #4051b4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    z-index: 1;
    box-sizing: border-box;

    &__title {
      font-size: 18px;
    }

    &__spacer {
      flex: 1 1 auto;
    }

    &__operation-btn {
      margin-top: -8px;
      margin-bottom: -8px;
    }
  }

  &__content {
    overflow-y: scroll;    
    height: 100%;

    $parent: &;

    &_noconditions {
      @extend #{$parent};

      color: gray;
      padding: 24px;
      font-size: 18px;
      margin-top: 12px;
      background: #e6e6e6;
      height: 60px;
      border-radius: 4px;
    }
  }
}

.conditions {
  &__condition {
    margin-top: 12px;

    &_checked {
      position: relative;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        background-color: #ec407a;
        top: 0px;
        left: 0px;
        z-index: 1;
        bottom: 0;
        border-radius: 4px 0 0 4px;
      }
    }
  }
}

.condition {
  &__title {
    height: 36px;
    display: flex;
    font-size: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-top: -18px !important;

    &_checked {
      color: #ec407a;
    }
  }

  &__users {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px !important;
    margin-left: -8px;
  }
}

.user {
  color: #5a5a5a;
  display: flex;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  background: #e6e6e6;
  border-radius: 2px;
  margin-top: 8px;
  margin-left: 8px;

  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 8px;
    box-sizing: border-box;
    box-shadow: #2f2f2f 0 0 1px 0;
    image-rendering: -webkit-optimize-contrast;
    background: white;
  }

  &__userId {
    width: 100%;
    margin: 0;
    padding: 8px 0;
  }
}