<ng-container *ngIf="!articles">
    <md-progress-bar mode="indeterminate"></md-progress-bar>    
</ng-container>

<div *ngIf="articles?.length > 0" class="search-condition">
  <div class="search-condition__header">
    <div class="search-condition__header__title">お気に入り検索条件</div>
    <div class="search-condition__header__spacer"></div>
    <button
      md-button
      type="button"
      class="search-condition__header__operation-btn"
      (click)="openUserList()">
      <i class="fa fa-fw fa-plus"></i> 追加
    </button>
  </div>

  <div class="search-condition__content_noconditions"
    *ngIf="!seaerchConditions || seaerchConditions.length < 1">
    <div>追加ボタンでお気に入り検索条件を追加しよう！</div>
  </div>
  <div class="search-condition__content conditions"
    *ngIf="seaerchConditions && seaerchConditions.length > 0">
    <md-card
      class="conditions__condition condition"
      [class.conditions__condition_checked]="condition.checked"
      *ngFor="let condition of seaerchConditions; let i = index">
      <div
        (click)="selectCondition(condition._id)"
        class="condition__title"
        [class.condition__title_checked]="condition.checked">
        {{condition.name ? condition.name : '検索条件' + (i + 1) }}
      </div>
      <md-card-content>
        <div *ngIf="condition.users && condition.users.length > 0">
          <div
            *ngFor="let user of condition.users"
            class="user">
            <img
              class="user__icon"
              src="data:image/png;base64,{{user.icon}}">
            <p 
              class="user__userId">{{user.userId}}</p>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <button 
          md-button
          type="button"
          ><i class="fa fa-fw fa-trush"></i>  削除</button>
        <button
          md-button
          class="comment-editor__register-btn"
          color="primary"
          type="button"
          ><i class="fa fa-fw fa-cog"></i>  条件変更</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<ng-container *ngIf="articles?.length > 0">
  <div class="article-list">
    <div
      class="article-list__item article"
      *ngFor="let item of articles | orderby: ['-created']">
      <div class="article__header"
        [routerLink]="['/', item.author.userId, 'articles', item._id]"
        routerLinkActive="active">
        <div class="article__avator">
          <img class="article__avator-icon" src="data:image/png;base64,{{item.author.icon}}">
        </div>
        <div class="article__subtitle">
          <div class="article__author-name">{{item.author.userId}}</div>
          <div class="article__date">{{item.updated | date: 'yyyy/MM/dd HH:mm' }}<span class="article__created-or-updated"> に{{item.created == item.updated ? "投稿" : "更新" }}</span></div>
        </div>
        <div class="article__title-wrapper">
          <div  class="article__title">{{item.title}}</div>
        </div>
      </div>
      <div class="article__main">
        <div *ngIf="item.isMarkdown; then markdown else plainText"></div>
        <ng-template #markdown>
          <p [innerHTML]="item.body | toMarkdown" class="markdown-body"></p>
        </ng-template>
        <ng-template #plainText>
          <pre [innerHTML]="item.body" class="plain-text-body"></pre>                
        </ng-template>
      </div>

      <div class="article__operation">
        <button 
          md-button
          type="button"
          class="article__operation-btn"
          (click)="registerVote(item)"
          *ngIf="!containMineVote(item.vote)"
          >
          <i class="fa fa-fw fa-thumbs-up"></i> いいね!
        </button>
        <button 
          md-button
          type="button"
          class="article__operation-btn"
          (click)="deleteVote(item)"
          *ngIf="containMineVote(item.vote)"
          >
          <i class="fa fa-fw fa-check"></i> いいね済み
        </button>
        <button 
          md-button
          type="button"
          class="article__operation-btn"
          (click)="createNewComment(item)"
          >
          <i class="fa fa-fw fa-commenting"></i>コメントする
        </button>
      </div>
       
      <ng-container *ngIf="item.showCommentDetail; then displayCommentDetail else displayComment"></ng-container>
      
      <ng-template #displayComment>
        <div *ngIf="(item.comments && (item.comments | excludeDeletedComment).length > 0) || (item.vote && item.vote.length > 0)" class="article__comments comments">
          <div
            *ngIf="!item.vote || item.vote.length < 1"
            class="comments__count_vote">
            <i class="comments__count-icon fa fa-fw fa-thumbs-up"></i>0<span class="comments__count-unit">人</span>
          </div>
          
          <div
            *ngIf="item.vote && item.vote.length > 0"
            class="comments__count_vote_link"
            (click)="openVotersList(item.vote)">
            <i class="comments__count-icon fa fa-fw fa-thumbs-up"></i>{{item.vote.length}}<span class="comments__count-unit">人</span>
          </div>
          
          <div class="comments__count">
            <i class="comments__count-icon fa fa-fw fa-commenting"></i>{{(item.comments | excludeDeletedComment).length}}<span class="comments__count-unit">件</span>
          </div>
          <div class="comments__main">
            <div 
              *ngFor="let comment of (item.comments | excludeDeletedComment)"
              class="comments__comment"
              >
                <img
                  *ngIf="!comment.userDeleted && !comment.deleted"
                  mdTooltip="【{{comment.user.userId}}】&#013;{{comment.text}}"
                  class="comments__comment__user"
                  src="data:image/png;base64,{{comment.user.icon}}">
            </div>
          </div>

          <div class="comments__operation">
            <div class="comments__operation__spacer"></div>
            <button
              *ngIf="item.comments && (item.comments | excludeDeletedComment).length > 0"
              md-icon-button
              mdTooltip="コメント詳細を開く"
              mdTooltipPosition="above"
              mdTooltipShowDelay="500"
              type="button"
              class="comments__operation__show-detail-btn"
              (click)="toggleCommentDetail(item)"><i class="fa fa-fw fa-chevron-down"></i></button>
          </div>
        </div>
        <div *ngIf="item.newComment" class="article__comment-editor comment-editor">
          <img class="comment-editor__author-icon" *ngIf="auth.loginUser" src="data:image/png;base64,{{auth.loginUser.icon }}">
          <textarea
            class="comment-editor__body"
            appAutofocus
            [(ngModel)]="item.newComment.text"
            placeholder="コメントする..." ></textarea>
          <button 
            md-raised-button
            type="button"
            class="comment-editor__cancel-btn"
            (click)="cancelNewComment(item)"><i class="fa fa-fw fa-times"></i>  キャンセル</button>

          <button
            md-raised-button
            class="comment-editor__register-btn"
            color="primary"
            type="button"
            id="registe-comment-btn"
            (click)="registerComment(item, item.newComment)"><i class="fa fa-fw fa-commenting"></i>  追加</button>
        </div>
      </ng-template>

      <ng-template #displayCommentDetail>
        <div class="article__comments-detail">
          <app-comment-list
            [hasCloseBtn]="true"
            _idOfArticle="{{item._id}}"
            [comments]="item.comments"
            (refresh)="refreshComments(item, $event)"
            (close)="toggleCommentDetail(item)"
          ></app-comment-list>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
