.wrapper {
  display: flex;
}
.message-area {
  margin: 24px;
  border-radius: 4px;
  width: 810px;
  color: #464545;
  background: #d2d2d2;
  padding: 24px;

  &__main {
    display: flex;

    &__icon {
      width: 10%;
      padding: 12px;
      box-sizing: border-box;
    }
    &__message {
      width: 90%;
    }
  }


  &__operation {
    margin-top: 24px;
    display: flex;

    &__spacer {
      flex: 1 1 auto;
    }
  }
}

.prograss-bar {
  width: 810px;
  margin: 24px auto 72px;
  display: flex;
  justify-content: center;
}

.article-list {
  width: 810px;
  margin: 24px auto 72px;

  &__item {
    margin-bottom: 24px;
  }

  &__operation {
    display: flex;
    flex-wrap: nowrap;
    background: white;
    height: 48px;
    font-size: 12px;
    align-items: center;
    margin: 12px 0;
    padding: 0 24px 0 36px;
    border-radius: 24px;

    &_top {
      margin-top: 0;
    }

    &_bottom {
      margin-bottom: 0;
    }

    &__sort-item {
      width: 6em;
      margin-right: 24px;
    }
    &__sort-direction {
      width: 6em;
      margin-right: 24px;
    }

    &__spacer {
      flex: 1 1 auto;
    }

    &__paginator {
      margin: 0;
      background: transparent;
    }
  }


}
