.wrapper {
  display: flex;
}
.message-area {
  margin: 24px;
  border-radius: 4px;
  width: 810px;
  color: #464545;
  background: #d2d2d2;
  padding: 24px;

  &__main {
    display: flex;

    &__icon {
      width: 10%;
      padding: 12px;
      box-sizing: border-box;
    }
    &__message {
      width: 90%;
    }
  }


  &__operation {
    margin-top: 24px;
    display: flex;

    &__spacer {
      flex: 1 1 auto;
    }
  }
}

.prograss-bar {
  width: 810px;
  margin: 24px auto 72px;
  display: flex;
  justify-content: center;
}

.article-list {
  width: 810px;
  margin: 24px auto 72px;

  &__item {
    margin-bottom: 24px;
  }

  &__paginator {
    margin: 12px 0;
    border-radius: 28px;
    box-shadow: 0 0 1px 1px;
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,.4);
  }

}
