<div class="articles-area">
  <div *ngIf='articles?.length > 0'>
    <div class="article-area">
      <div class="article-list">
        <div
          class="article-item"
          *ngFor="let item of articles | orderby: ['-date']">
          <div class="article-item-header underline-animation"
            [routerLink]="['/articles', item._id]"
            routerLinkActive="active">
            <div class="article-item-avator">
              <img class="avatar" src="data:image/png;base64,{{item.author.icon}}">
            </div>
            <div class="article-item-subtitle">
              <div class="article-item-author-name">{{item.author.userId}}</div>
              <div class="article-item-date">{{item.date | date: 'yyyy/MM/dd HH:mm' }}</div>
            </div>
            <div class="article-item-title-area">
              <div  class="article-item-title">{{item.title}}</div>
            </div>
          </div>
          <div class="article-item-content">
            <div *ngIf="item.isMarkdown; then markdown else plainText"></div>
            <ng-template #markdown>
              <p [innerHTML]="item.body | toMarkdown" class="markdown-body"></p>
            </ng-template>
            <ng-template #plainText>
              <pre [innerHTML]="item.body" class="plain-text-body"></pre>                
            </ng-template>
          </div>
          <div class="article-item-comments">
            <div *ngIf='item.comments' class="article-item-comments-count">コメント{{item.comments.length}}件</div>
            <div *ngIf='item.comments' class="article-item-comments-area">
              <div 
                *ngFor="let comment of item.comments"
                class="article-item-comment-user-wrapper">
                  <img
                  mdTooltip="【{{comment.user.userId}}】&#013;{{comment.text}}"
                  class="article-item-comment-user"
                  src="data:image/png;base64,{{comment.user.icon}}">
              </div>
            </div>
            <div class="article-item-operation-area">
              <button 
                md-button
                type="button"
                class="show-comment-editor-btn"
                (click)='createNewComment(item)'><i class="fa fa-fw fa-commenting"></i>  コメントする</button>
            </div>
          </div>
          <div *ngIf="item.newComment" class="article-comment-editor">
            <img class="article-comment-author-icon" *ngIf="auth.loginUser" src="data:image/png;base64,{{auth.loginUser.icon }}">
            <textarea
              class="register-comment-body"
              appAutofocus
              [(ngModel)]="item.newComment.text"
              placeholder="コメントする..." ></textarea>

              <button
              md-raised-button
              class="register-comment-btn"
              color="primary"
              type="button"
              id="registe-comment-btn"
              (click)='registerComment(item.articleId, item.newComment)'><i class="fa fa-fw fa-commenting"></i>  追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

