.articles-area {
  width: 1114px;
  margin: auto;
}

.article-area {
}

.article-tile {
}

.article-card {
  width: 95%;
  height: 95%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

.article-card:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 5em;
}

.article-card-header {
  padding: 12px 0 0 12px;
  background: #e4e4e4;
  border-bottom: #d2d2d2 solid 1px;
}

.article-card-content {
  padding: 24px;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.plain-text-body {
  white-space: pre;          
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
.article-card:hover {
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,.4);
}

