.content {
  position: relative;
}


.title {
  font-weight: 100;
  padding: 12px 24px;
  font-size: 24px;
  color: white;
  background: #4051b4;
  margin: -24px -24px 0;
  display: flex;

  &__spacer {
    flex: 1 1 auto;
  }

  &__close-btn {
    cursor: pointer;  
    &:hover {
      opacity: 0.7;
    }    
  }
}


.data-wrapper {
  margin: 2px 0 24px;
  width: 100%;
  padding: 0;
}

.data-label {
  
}
  
.data {
  width: 100%;
}

.users {
  color: gray;

  &__count {

  }

  &__count-unit {
    font-size: 0.7em;
  }
}

.user {
  color: gray;

  &:hover {
    background-color: #E3E3E3;
  }

  &_checked {

  }

  &__check {
    padding-right: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-right: 12px;
    box-sizing: border-box;
    box-shadow: #2f2f2f 0 0 1px 0;
  }

  &__userId {
    width: 100%;
    margin: 0;
    padding: 12px 0;
  }
}


.date-search-pattern {
  &__factor {
    margin-top: 8px;
    margin-left: 8px;
    width: 50%;
    background: #d4d4d4;
    padding: 12px;
    border-radius: 4px;

    &.checked {
      background: #ffc3d6;
    }
  }
}