<div class="content">
  <div class="close-btn"
    (click)="close()">
      <i class="fa fa-fw fa-times" aria-hidden="true"></i>
  </div>
  <h1 md-dialog-title class="voters">
      <i class="vorters__count-icon fa fa-fw fa-thumbs-up"></i>
      {{data.voters.length}}
      <span class="voters__count-unit">人</span>
  </h1>
  <div md-dialog-content>
    <md-list>
      <md-list-item
        *ngFor="let voter of data.voters"
        class="voter">
        <img
          class="voter__icon"
          src="data:image/png;base64,{{voter.icon}}">
        <p class="voter__userId">{{voter.userId}}</p>
      </md-list-item>
    </md-list>
  </div>
</div>

