<form
  (ngSubmit)="onSubmit(loginForm)"
  [formGroup]="loginForm"
  class="form"
  >

  <div class="form__content">
    <mat-input-container class="form__input-container">
      <input
        matInput
        type="text"
        placeholder="ユーザID"
        formControlName="userId"
        >
        <mat-error *ngIf="hasError('required', userId)">
          {{ messageService.get('required',['ユーザID']) }}
        </mat-error>
        <mat-error *ngIf="hasError('minlength', userId)">
          {{ messageService.get('minlength',['ユーザID', userId.getError('minlength').requiredLength]) }}
        </mat-error>
    </mat-input-container>

    <mat-input-container class="form__input-container">
      <input
        matInput
        type="password"
        placeholder="パスワード"
        formControlName="password"
        >
        <mat-error *ngIf="hasError('required', password)">
          {{ messageService.get('required',['パスワード']) }}
        </mat-error>
        <mat-error *ngIf="hasError('minlength', password)">
          {{ messageService.get('minlength',['パスワード', password.getError('minlength').requiredLength]) }}
        </mat-error>
    </mat-input-container>
  </div>

  <div class="form__operation">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      id="registe-article-btn"
      >
      <i class="fa fa-fw fa-sign-in"></i>  ログイン
    </button>
  </div>
</form>

<div class="form__footer">
  <span class="spacer"></span>
  <button
    mat-button
    type="button"
    id="registe-article-btn"
    (click)="toLogin()"
    >
    <i class="fa fa-fw fa-user-plus"></i>  ユーザ登録はこちら</button>
</div>

<p *ngIf="message">{{message}}</p>
